body {
  display: flex;
  align-content: center;
  justify-content: center;
}


.main {
  margin-top: 20px;
  transition: all 200s ease
}

.main:hover {
  transform: skewX(30deg);
}
.col {
  width: 1000px;
  display: flex;
  height: 25px;
}

.point {
  width: 10%;
  background-color: white;
  border: solid black 0.1px;
  transition: all 0.2s
}

.point:hover {
  border: solid red 5px;
}
