* {
    box-sizing: border-box;
}

p {
  font-size: 20px
}


h1 {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0 0 3px 0;
  font-size: 3rem;
}

a {
  color: black;
}

a:visited {
  color: black;
}

/*
Styling for the navbar, this is also effected in a media query later in the page
*/
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-item {
  float:left;
}

.nav-list-link {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.3rem;
  user-select: none;
  cursor: pointer;

}

.nav-list-link:hover {
  background-color: orange;
}

.icon {
  float: right;
  display:none;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}

/*

*/


body {
  font-family: futura;
  margin:auto;
  text-align: center;
  width: 90%;
  max-width: 1200px
}

/*
Styles the footer and links within it
*/

.foot {
  background-color: black;
  color: white;
  padding: 0.5px;
}

.contact-link {
  text-decoration: none;
  color: pink;
}

.contact-link:visited {
  color: pink;
}

.contact-link:hover {
  color: orange;
}

/*
Media queries to show and hide navbar/burger icon
*/

@media screen and (max-width:680px) {

    .nav-list-link {
      display: none;
    }
  .icon {
    float:right;
    display: inline-block;
  }

  .home {
    display: inline-block;
  }

  .nav-list.clicked {
    position: relative;
  }

  .nav-list.clicked .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-list.clicked .nav-item {
    float:none;
    display: inline;
  }

  .nav-list.clicked .nav-item .nav-list-link {
    display:block;
    text-align: left;
    z-index: 1;
  }
}
